.arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  &__left-arrow_cursor-pointer {
    position: relative;
    width: 24px;
    height: 26px;
    cursor: pointer;

    &:hover .arrows__left-image {
      display: block;
    }
  }

  &__left-arrow_cursor-default {
    position: relative;
    width: 24px;
    height: 26px;
    cursor: default;

    &:hover .arrows__left-image {
      display: none;
    }
  }

  &__right-arrow_cursor-pointer {
    position: relative;
    width: 24px;
    height: 26px;
    cursor: pointer;

    &:hover .arrows__right-image {
      display: block;
    }
  }

  &__right-arrow_cursor-default {
    position: relative;
    width: 24px;
    height: 26px;
    cursor: default;

    &:hover .arrows__right-image {
      display: none;
    }
  }

  &__left-image {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(180deg);
    display: none;
  }

  &__left-image_opacity-1 {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(180deg);

    opacity: 1;
  }

  &__left-image_opacity-04 {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(180deg);

    opacity: 0.4;
  }

  &__right-image {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  &__right-image_opacity-1 {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
  }

  &__right-image_opacity-04 {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
  }
}
