.support-form {
  width: 100%;
  background: #f3f5f7;
  padding: 48px 24px;

  @media screen and (min-width: 576px) {
    padding: 72px 28px;
  }

  &__container {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 1160px) {
      flex-wrap: nowrap;
    }
  }

  &__customer-service {
    width: 100%;

    @media screen and (min-width: 1160px) {
      max-width: 360px;
    }
  }

  &__header {
    font-size: 34px;
    line-height: 48px;
    font-weight: 500;
    color: black;
    margin-bottom: 24px;

    @media screen and (min-width: 576px) {
      margin-bottom: 48px;
    }
  }

  &__span {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;
    display: inline;

    @media screen and (min-width: 1160px) {
      display: block;
    }
  }

  &__phone-support {
    font-size: 34px;
    line-height: 48px;
    font-weight: 500;
    color: #00e;
    display: block;
    outline: none;
    text-decoration: none;
  }

  &__phone-title {
    font-size: 13px;
    line-height: 24px;
    color: #96a0aa;
    margin-bottom: 48px;
  }

  &__form {
    width: 100%;
    max-width: 460px;
    @media screen and (min-width: 1160px) {
      max-width: 460px;
      margin-left: 40px;
    }
  }

  &__button-container {
    width: 184px;
  }
}
